body {
    font-family: "DM Sans", sans-serif;
    background-color: whitesmoke;
    margin: 0;
}

/* navigation */
.navigation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.navigation {
    background-color: #92b2ba;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px;
    color: white; 
}

/* Main photo */
.main-photo {
    width: 100%;

}

.main-photo img {
    display: flex;
    width: 100%;
    object-fit: fill;
}

.flower-text {
    display: flex;
    justify-content: right;
    flex-direction: column;

}

.flowerbox {
    font-size: 2em;
    display: flex;
    color: #92b2ba;
    width: 100%;

}

.catch-phrase {
    display: flex;
}

/* 1st row - product forgive */
.product-row {
    display: flex;
}

.product-container {
    box-sizing: border-box;
    margin-right: 24;
    margin-bottom: 24px;
    width: calc((100% - 30px) / 3);
    display: flex;
    
}

.product-photo {
    width: 100%;
    line-height: 0px;
    display: flex;
    

}

.product-photo img {
    width: 100%;
    
}

.product-text {

}

.product-name {

}



.product-cost {

}

.product-describtor {

}

.describtor {

}




/* Footer */

.footer {

}

.logo-container {

}

.logo-container img {

}

.footer-text {

}

.social-links {

}

.logo-twitter {

}

.logo-facebook {

}

.logo-instagram {

}

.column-one {

}

.column-one-customer {

}

.column-one-text {

}

.column-two {

}

.column-two-flowerbox {

}

.column-two-describtor {

}

.column-two-text {

}

